* {
  color: lightgray;
  background-color: black;
  accent-color: darkorange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0px;
}

.round-button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
}

.timer-input {
  width: 3rem;
}

.timer-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-input-group {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
}

.border-top {
  border-top: 3px solid #bbb;
}

.border-bottom {
  border-bottom: 3px solid #bbb;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-input-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.radio-group {
  display: flex;
  flex-direction: row;
}
