h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0px;
}

.timer-input {
  width: 3rem;
}

.timer-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-input-group {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #bbb;
}

.timer-input-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.radio-group {
  display: flex;
  flex-direction: row;
}
